# Server configs
NODE_ENV=development
PORT=9999
SENTRY_DSN=https://4e2104755eed46999f007a7dc439fdff@sentry.gazin.com.br//108

# Postgres Config
POSTGRES_DATABASE=gazin_seguros_bank
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# API Bank Config
API_BANK_BASE_URL=https://api-bank.azurewebsites.net
API_BANK_TOKEN_URL=/usuarios/logado
API_BANK_IDENTIFICATION=c81e728d9d4c2f636f067f89cc14862c

# GATEWAY LIDIANS PAYMENT
GATEWAY_PAYMENT_URL=https://stage-gw-lydians.gazin.com.br
GATEWAY_PAYMENT_TOKEN=eyJ0eXAiOiJKV1QiLCJraWQiOiIwNDU0ZGFmYTgwZmM0YWFiYTYwMTc0NTM5YzRiMmFkMyIsImFsZyI6IlJTMjU2In0.eyJqdGkiOiIwZjY1ZTJiMC1hMWI2LTQzOTItYTQ5Ny0yYTE5MDI3MjJhYjkiLCJpc3MiOiJhZjlhMDg0MC00NWIwLTRiNzMtYWQ2MS00Njc3ZTIwZTQyNGYiLCJpYXQiOjE2NDk4ODQxNzQsInN1YiI6ImFmOWEwODQwLTQ1YjAtNGI3My1hZDYxLTQ2NzdlMjBlNDI0ZiIsImV4cCI6NDgwNTU1Nzc3NCwidHNpIjoic2VydmljZXMtc2lnbiIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNlcnZpY2UiOnsibmFtZSI6IkFQSSBTZWd1cm9zIn19.oqNnjJTFCNO6mLpcIKe9iLmStOrOsNLLDnHUCTCw9S_NuhEl1T-i-rEVIFuNLy4d4E00c9F1eKyNdSPjrcem_v_tB8u74W4baTFLQ-Bx3HXXtlGVgs_8iVQqaAHvNAMGAuZ2ys0EYIYfQ_X2LbRa3CgkPzKWyovEsi7ERI73XgygCkxehime3fbmKvswRPJBSn0nE7eXqoUL06BZE3Wlr8y3gbQ3V3PSiUHd__x8g0K06dxPRSunRatvuY7iD46t8sU9Llnf7DVuJ2lh6-6FLIphytH8XZ1nWlGq3jYT0pY1U58VV0MxLoID1KQbCXnWnJeMgxTlskgXDzGDg3VC7A
GATEWAY_PAYMENT_COD_HIST=201
GATEWAY_PAYMENT_COD_OPER_CP=1
GATEWAY_PAYMENT_TIMEOUT=25

#CRON Config
CRON_EXPORT_DIH=0 0-23/1 * * *
CRON_EXPORT_RE=0 0-23/1 * * *

# Apolo Config
APOLO_URL=https://hml-apolo.gazin.com.br/api/v1/
APOLO_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2OTQxYjRjZi00NDAxLTRmNGYtODQzMi01M2FiZDY2M2JkYjYiLCJhcHBsaWNhdGlvbklkIjoiMWNlNDAxYWUtM2NkOS00ODY1LTk4MzAtZjhhN2E0MGJmYzU5IiwiaWF0IjoxNjQ5NzkxOTEzfQ.IGSiCKu2vt2E2qBT5mqgfuJIF_TVgDoouHgiipCW13s
